:root {
  --primary-color: #6A66A3;
  --black-color: #262626;
  --gray-dark-color: #595959;
  --gray-light-color: #d9d9d9;
  --lighter-color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black-color);
}

body, input, textarea {
  font-family: 'Open Sans', sans-serif;
}

ul, li, ol {
  list-style: none;
}